@import '../variables.scss';

button {
    outline: none;
    border: none;
    display: flex;
    font-family: 'NeueMontreal-Regular', Arial, sans-serif;
    cursor: pointer;

    img {
        width: 38px;
        height: 38px;
    }
}

button.small {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    height: 2.5rem;
}

button.outline {
    background-color: transparent;
    color: $cream-color;
    border: 1px solid $cream-color;
}

.btn-primary {
    color: $background-color;
    background-color: $cream-color;
    height: 4rem;
    border-radius: 50rem;
    padding: 13px 20px 13px 36px;
    font-size: 1.75rem;
    gap: 1.5rem;
}

.btn-secondary {
    color: white;
    background-color: $blue;
}

.btn-outline {
    color: $cream-color;
    background-color: transparent;
    border: 1px solid $cream-color;
    border-radius: 100px;
    line-height: 1.35rem;
}

.btn-outline-blue {
    color: white;
    background-color: transparent;
    border: 1px solid $blue;
    border-radius: 100px;

    height: 4rem;
    border-radius: 50rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.btn-outline-blue-invert {
    color: $background-color;
    background-color: transparent;
    border: 1px solid $blue;
    border-radius: 100px;
    font-weight: bold;

    height: 4rem;
    border-radius: 50rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}


.btn-icon {
    color: $cream-color;
    border: 1px solid $cream-color-dark;
    border-radius: 50rem;
    background-color: transparent;
    position: relative;
    overflow: hidden;

    .line-icon-menu {
        width: 1.5rem;
        height: 1px;
        background-color: white;
        position: absolute;
        left: 50%;
        transform-origin: center;
    }

    .line-icon-menu:nth-child(1) {
        top: 0.75rem;
        transform: translate(-50%, 0);
    }

    .line-icon-menu:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .line-icon-menu:nth-child(3) {
        bottom: 0.75rem;
        transform: translate(-50%, 0);
    }
}
