button {
    outline: none;
    border: 10px solid white;
}

button.small {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    height: 2.5rem;
}

.btn-primary {
    color: $cream-color;
    border: 1px solid $cream-color;
    border-radius: 50rem;
    background-color: transparent;
}

.btn-icon {
    color: $cream-color;
    border: 1px solid $cream-color-dark;
    border-radius: 50rem;
    background-color: transparent;
    position: relative;
    overflow: hidden;

    .line-icon-menu {
        width: 1.5rem;
        height: 1px;
        background-color: white;
        position: absolute;
        left: 50%;
        transform-origin: center;
    }

    .line-icon-menu:nth-child(1) {
        top: 0.75rem;
        transform: translate(-50%, 0);
    }

    .line-icon-menu:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .line-icon-menu:nth-child(3) {
        bottom: 0.75rem;
        transform: translate(-50%, 0);
    }
}
