@import '../variables.scss';

.spacing {
    width: 100%;
    background-color: orange;
    border: 5px dashed salmon;
    z-index: 999;
    opacity: 0.5;
}


.cases-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;

    opacity: 0.5;

    .cases {
        display: flex;
        width: fit-content;
        // border: 2px dashed salmon;

        .case-item.intro {
            border: 1px solid orange;
        }
    
        .case-item {
            border: 1px solid orange;
            width: 550px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
        }
    }

   

    h2, p {
        color: $background-color;
    }
}