header {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 2rem 1rem;
    z-index: 10;

    .header-wrapper {
        width: 100%;
        display: flex;
        gap: 0.75rem;
        max-width: 1250px;
    }
}

img {
    width: 6rem;
    margin-right: auto;
}