@import 'variables';
@import 'typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html, body, main {
    width: 100%;
    height: 100%;
}

body {
    background-color: $background-color;
    font-family: 'NeueMontreal-Regular', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}



a {
    text-decoration: none;
}


section {
    display: flex;
    width: 100%;
    max-width: 1250px;

    @media (max-width: 1250px) {
        max-width: 992px;
    }

    @media (max-width: 992px) {
        max-width: 768px;
    }
}













/* Mudar a cor de fundo da seleção */
::selection {
    background-color: $blue; /* Substitua pela cor desejada */
    color: white;
}

/* Mudar a cor do texto da seleção */
::-moz-selection {
    background-color: $blue; /* Substitua pela cor desejada */
    color: white; /* Cor do texto da seleção no Firefox */
}