@import 'variables';
@import 'typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html, body, main {
    width: 100%;
    height: 100%;
}

body {
    background-color: $background-color;
    font-family: 'NeueMontreal-Regular', Arial, sans-serif;
}


a {
    text-decoration: none;
}


section {
    display: flex;
}